@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(jeremy-bishop-uAfZBP-GtiA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.calbox {
    border: 1px solid #ffffff58;
    border-radius: 15px;
    padding: 40px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

input {
    background-color: transparent;
    height: 60px;
    border: none;
    text-align: right;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-size: 20px;
}

input::placeholder {
    color: #fff;
}

button {
    height: 60px;
    width: 60px;
    border: 1px solid #ffffff36;
    border-radius: 50%;
    background-color: #514e4e38;
    color: #f1f0f0af;
    font-size: 15px;
}
.row1 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}